/* font-family: 'Alkalami', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Passions Conflict', cursive;
 */
*{ margin :0px;
  padding :0px;
  box-sizing: border-box; }

 
    

nav{
  display: flex;
  flex-direction: column;
  background: steelblue;
  justify-content: space-around;
}

@key-frame h2{
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.servicios1{
  background-image: url("/imagenes/AdobeStock_1566770_Preview.jpeg");
}
.servicios2{
  background-image: url("/imagenes/AdobeStock_37392562.jpeg");
}
.servicios3{
  background-image: url("/imagenes/AdobeStock_354639935_Preview.jpeg");
}
.servicios4{
  background-image: url("/imagenes/AdobeStock_94483679_Preview.jpeg");
}

.nav-enlace{
display: inline-block;
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(235,218,97,1) 100%);
width: 100%;
text-align: center;
color:antiquewhite;
padding: 10px 30px;
margin: 10px 1 px;
text-decoration: none;

  }

  .nav-enlace:hover{background:rosybrown;
 }

  .galeria{
    display: flex;
    flex-direction: column;
    padding: 10px 30px;

  }
  
   img {
    display: flex;
    height: 250px;
  }
  

@media (min-width:768px){

.contenedor-grid{
  display:grid;
  grid-template-columns: repeat(4,fr);
  grid-auto-rows: 25vh 60vh 15vh;
  grid-template-areas: 
    " header header header header "
    " aside main main main "
    " aside footer footer footer";

}
footer{grid-area: footer;}
.servicios1{grid-area: servicios1;}
.servicios2{grid-area: servicios2;}
.servicios3{grid-area: servicios3;}
.servicios4{grid-area: servicios4;}

main{
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-template-areas: 
  "servicios1 servicios1 servicios2"
  "servicios3 servicios3 servicios2"
  "servicios4 servicios4 servicios2"
  ;
}

aside { 
  background-color: rgb(202, 108, 20);
  grid-area: aside;
}

.header-grid{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-area: header;
    background-image: url("../imagenes/AdobeStock_94483679_Preview.jpeg");

}

h1{

    color:rgb(28, 166, 184);
    font-family: 'Montserrat', sans-serif;
}

article{
    width: 90%;
    align-content: center;
    height: 100px;
    background-color: lightgoldenrodyellow;
}
.container__footer{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: auto;  
    background-color: lightgray;
}

.box__footer{
    display: flex;
    flex-direction: column;
   
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-size: large;
    color: rgb(7, 158, 83);
    background-color: #555;
}
nav ul li a:hover{
    color:rgb(236, 39, 13)
}
} /*  FIN MEDIA */