// Custom.scss
// Opción A: Incluir todo Bootstrap
$primary: #fffcd4;
$danger: #448158;
$active: #67C285;
$pie: #5F7366;

$theme-colors: (
    "primary": $primary,
    "danger": $danger
);


header {
    background: rgb(103, 194, 133);
    background: linear-gradient(0deg, rgba(103, 194, 133, 1) 0%, rgba(255, 252, 212, 1) 100%);
    border-bottom: #5F7366;
}

body {
    background: rgb(255, 252, 212);
    background: linear-gradient(0deg, rgba(255, 252, 212, 1) 0%, rgba(103, 194, 133, 1) 100%);
}

h1{
    //font-family: 'Abel', sans-serif;
    font-family: 'Alexandria', sans-serif;
    //font-family: 'Caveat', cursive;
}
.nav-item {

    border-radius: 25%;
    background-color: $danger;
    margin-left: 4px;
    transition: ease-in .6s;

    &:hover {
        background-color: $danger;
    }

    // Luego agrega código personalizado adicional aquí
}

.nav-link {
    color: $primary;
    transition: ease-in .3s;

    &:hover {
        background-color: $primary;

    }
}

.a linkk {
    text-decoration: none;
}

.bg-pie {
    background-color: $primary;
}

.text-pie {
    text-shadow: $danger ;
    text-decoration: none;
}

.serv {
    margin-bottom: 20px;
    padding: 1em;
    display: flex;
    justify-content: center;
    &__titulo {
        font-size: 3rem;
    }
}

.servicios1 {
    
    background-color: $primary ;
    border-radius: 25px;
    width: 95%;

    height: auto;
    text-align: center;
    padding: 10;
    font-family: 'Caveat', cursive;
    word-wrap: break-word;
    font-size: 2rem;


}

.servicios2 {
    background-color: $primary;
    border-radius: 25px;
    height: 25%;
    margin-bottom: 13px;
    text-align: center;



}

// animacion
.titu{
    transition-duration: 2s;
}

.titu:hover {
    box-shadow: 0px 13px 13px;
    transform: scale(1.05,1.05);


}

.logo{transition-duration: 2s;
&:hover{

    transform: rotate(180deg);
}}

.servicios1:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }
  .servicios1-text{
    height:80px;  
  }
  
  .servicios1::before, .servicios1::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }
  .servicios1::before {
    transform-origin: left top;
  }
  .servicios1::after {
    transform-origin: right bottom;
  }
  .servicios1:hover::before, .servicios1:hover::after, .servicios1:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
  }